button:focus {
    outline: none;
}

#canvas {
    width: 80%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.pixel {
    width: 8px;
    height: 8px;
    float: left;
}

#controls {
    width: 10%;
    height: 100%;
    position: absolute;
    left: 80%;
    top: 0;
}

#active {
    width: 100%;
    height: 20%;
    background-color: black;
    color: white;
    pointer-events: none;
    border: solid 1px black;
}

#controls button {
    width: 100%;
    height: 20%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#palette {
    width: calc(10% - 2px);
    position: absolute;
    left: 90%;
    top: 0;
}

.color {
    width: 100%;
    border: solid 1px;
}